<center> <h1 style='color:fuchsia'>Révision Python </h1></center>

python -m venv envAI1

# 1. Affectation

In [1]:
print(18+5)
print(13/5)
print(13//5)
print(13%5)

23
2.6
2
3

In [2]:
x=y=z=20

In [3]:
z

20

In [4]:
print(x,y,z)

20 20 20

In [5]:
a,b,c=15,35,'Teccart'
print(a,b,c)

15 35 Teccart

In [6]:
print(type(15.21))

<class 'float'>

In [7]:
print(type(a))

<class 'int'>

In [8]:
print(type(c))

<class 'str'>

In [9]:
c*4

'TeccartTeccartTeccartTeccart'

In [10]:
ch='A'+('b'*5)
print(ch)

Abbbbb

In [11]:
print(len(ch))
print(len('Bonjour'))
print('Bonjour',ch)
print('Bonjour'+' '+ch)
print(f'Bonjour {ch}')

6
7
Bonjour Abbbbb
Bonjour Abbbbb
Bonjour Abbbbb

In [12]:
ch2='informatique'
print(ch2[0])
print(ch2[-1])
print(ch2[0:2])
print(ch2[:2])
print(ch2[-1:-5:-1])
print(ch2[0:7:2])

i
e
in
in
euqi
ifra

In [13]:
print(ch2.islower())
print(ch2.isupper())
print(ch2.lower())
print(ch2.isupper())
print(ch2.upper())
print(ch2.find('z'))

True
False
informatique
False
INFORMATIQUE
-1

In [14]:
ch3="AAAAbbbccc"
print(ch3.count('AA'))
print(ch3.replace('A','ttt'))

2
ttttttttttttbbbccc

# 2. La conversion des types

In [15]:
x=40.5
y=15
z=22
print(x)
print(y)
print(z)

40.5
15
22

In [16]:
print (type(x))
print(int(x))
print(float(y))
print(str(z)+'c')

<class 'float'>
40
15.0
22c

# 3. La bibliothéque Math

In [17]:
from math import *
print(pi)
print(e)
print(cos(0.25))

3.141592653589793
2.718281828459045
0.9689124217106447

In [18]:
print(round(pi,4))

3.1416

# 4. Les conditions

In [19]:
a,b=150,22
print(a if a>b else b)

150

In [20]:
x=200
y=1500

if x>y:
    print(f'Le Max est: {x}')
    print('----------------')
else:
    print(f'Le Max est: {y}')
    print('-+-+-+-+-+-+-+-+')

Le Max est: 1500
-+-+-+-+-+-+-+-+

In [21]:
val=5
if val<0:
    print('Erreur')
else:
    resultat=sqrt(val)
    print(round(resultat,5))

2.23607

In [22]:
x=8
y=15
z=12

if z>10:
    print ("z est plus grand que 10")
    if y>20:
        print("zest plus grand que 20")
    else:
        print("z est entre 10 est 20")
else:
    print("z est plus petit que 10")

z est plus grand que 10
z est entre 10 est 20

In [23]:
x=8
y=15

if x>0 and y<20:
    print("x est positif et y est inferieur à 20")

x est positif et y est inferieur à 20

# 5. Les boucles 
 ## 5.1 La boucle FOR

In [24]:
print ([i for i in range(11)])
print ([i for i in range(5,11)])
print ([i for i in range(4,20,3)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[5, 6, 7, 8, 9, 10]
[4, 7, 10, 13, 16, 19]

In [25]:
for k in range(10,100,5):
#valeur de k de 10 à 100 avec un pas de 5
    print(f'k={k}')

k=10
k=15
k=20
k=25
k=30
k=35
k=40
k=45
k=50
k=55
k=60
k=65
k=70
k=75
k=80
k=85
k=90
k=95

In [26]:
for k in range(10,-100,-10):
#valeur de k de 10 à -100 avec un pas de -10
    print(f'k={k}')

k=10
k=0
k=-10
k=-20
k=-30
k=-40
k=-50
k=-60
k=-70
k=-80
k=-90

In [27]:
for k in range(10,-100,-10):
#valeur de k de 10 à -100 avec un pas de -10
    print('k= ',k,end=' ')

k=  10 k=  0 k=  -10 k=  -20 k=  -30 k=  -40 k=  -50 k=  -60 k=  -70 k=  -80 k=  -90

In [28]:
ch4='Cours'
for i in ch4:
    print(i)

C
o
u
r
s

In [29]:
ch4='Cours'
for i in ch4:
    #fait des espaces: end=' '
    print(i,end=' ')

C o u r s

In [30]:
#table de multiplications de 8
for i in range(0, 11):
    print(f'8 x {i} = {8 * i}')

8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [31]:
#tables de multiplications de 1 à 10
for j in range(1,11):  
    print (f'La table de multiplication de {j} est:')
    print('----------------------------------------')  
    for i in range(0, 11):
        print(f'{j} * {i} = {j * i}')

La table de multiplication de 1 est:
----------------------------------------
1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
La table de multiplication de 2 est:
----------------------------------------
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
La table de multiplication de 3 est:
----------------------------------------
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
La table de multiplication de 4 est:
----------------------------------------
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
La table de multiplication de 5 est:
----------------------------------------
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
La table de multiplication de 6 est:
----------------------------------------
6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
La table de multiplication de 7 est:
----------------------------------------
7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
La table de multiplication de 8 est:
----------------------------------------
8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
La table de multiplication de 9 est:
----------------------------------------
9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
La table de multiplication de 10 est:
----------------------------------------
10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [32]:
somme=0
for i in range(11):
    somme+=i
    #print(somme)
print(somme)

55

In [33]:
somme=0
for i in range(11):
    if i%2==0:
       somme+=i
       print(somme)

0
2
6
12
20
30

In [34]:
Liste=[15,88,84]
for elem in Liste:
    print(elem)

15
88
84

  ## 5.2 boucle While

In [35]:
count=2
while count<=20:
    print(f'Le compteur = {count}')
    count+=1

Le compteur = 2
Le compteur = 3
Le compteur = 4
Le compteur = 5
Le compteur = 6
Le compteur = 7
Le compteur = 8
Le compteur = 9
Le compteur = 10
Le compteur = 11
Le compteur = 12
Le compteur = 13
Le compteur = 14
Le compteur = 15
Le compteur = 16
Le compteur = 17
Le compteur = 18
Le compteur = 19
Le compteur = 20

In [36]:
i=0
while i<10:
    i+=1
    if i%2==0:
        continue
    print('---',i)

--- 1
--- 3
--- 5
--- 7
--- 9

In [37]:
i = 0
while True:
    print('i:', i)
    i += 1
    if i >= 10:
        break

i: 0
i: 1
i: 2
i: 3
i: 4
i: 5
i: 6
i: 7
i: 8
i: 9

In [38]:
count=0
while count<10:
    count+=1
    print(f'Le compteur = {count}')
else:
    print('Fin de la boucle')

Le compteur = 1
Le compteur = 2
Le compteur = 3
Le compteur = 4
Le compteur = 5
Le compteur = 6
Le compteur = 7
Le compteur = 8
Le compteur = 9
Le compteur = 10
Fin de la boucle

# 6.Les listes

In [39]:
L1=[]
L2=[1,8,10,6]
L2

[1, 8, 10, 6]

In [40]:
for i in L2:
    print(i, end=' ')

1 8 10 6

In [41]:
#Ajouter un element a la liste
L3=[]
for i in range(10):
    L3.append(i)
print(L3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
#concatenation
L4=L2+L3
L4

[1, 8, 10, 6, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
L5=[0,7,8,10]
L6=[10,8,0,15]
print([x+y for x,y in zip(L5,L6)])

[10, 15, 8, 25]

In [44]:
for i,j in zip(L5,L6):
    print(f'i={i} et j={j}')

i=0 et j=10
i=7 et j=8
i=8 et j=0
i=10 et j=15

In [45]:
print(f'La somme de L6 est: {sum(L6)}')
print(f'Le min de L6 est: {min(L6)}')
print(f'Le max de L6 est: {max(L6)}')

La somme de L6 est: 33
Le min de L6 est: 0
Le max de L6 est: 15

In [46]:
L7=['A',20,30,'B']
L7.insert(2,'C')
print(L7)

['A', 20, 'C', 30, 'B']

In [47]:
L7.insert(2,['D','E'])
print(L7)

['A', 20, ['D', 'E'], 'C', 30, 'B']

In [48]:
print(L7[2][1])

E

In [49]:
L6.sort()
print(L6)

[0, 8, 10, 15]

In [50]:
L8=[15,0,15,-52,100]
L8N=sorted(L8)
print(L8)
print(L8N)

[15, 0, 15, -52, 100]
[-52, 0, 15, 15, 100]

# 7.Les tuples

In [51]:
tuple1=(1,5,6)
print(tuple1)

(1, 5, 6)

In [52]:
tuple2=1,5,6
print(tuple2)

(1, 5, 6)

In [53]:
tuple3=tuple1+tuple2
print(tuple3)

(1, 5, 6, 1, 5, 6)

In [54]:
x1,x2,x3=tuple1
print(x1)

1

In [55]:
tuple4=('Ab',5,10)
print(tuple4)

('Ab', 5, 10)

In [56]:
list(tuple4)

['Ab', 5, 10]

In [57]:
tuple(L8)

(15, 0, 15, -52, 100)

# 8.Dictionnaires

In [58]:
dict1={'cle1':'val1', 'cle2':1, 45:50, 48:'val3'}
print(dict1)

{'cle1': 'val1', 'cle2': 1, 45: 50, 48: 'val3'}

In [59]:
dict1['cle1']=100
print(dict1)

{'cle1': 100, 'cle2': 1, 45: 50, 48: 'val3'}

In [60]:
dict1['cle5']=500
print(dict1)

{'cle1': 100, 'cle2': 1, 45: 50, 48: 'val3', 'cle5': 500}

In [61]:
print(dict1.keys())

dict_keys(['cle1', 'cle2', 45, 48, 'cle5'])

In [62]:
print(dict1.values())

dict_values([100, 1, 50, 'val3', 500])

In [63]:
for x in dict1.keys():
    print(x)

cle1
cle2
45
48
cle5

In [64]:
for x in dict1.values():
    print(x)

100
1
50
val3
500

# 9. Les fonctions

In [65]:
def operation(a,b):
    somme=a+b
    produit=a*b
    return somme,produit

In [66]:
operation(15,28)

(43, 420)

In [67]:
s,p= operation(15,28)
print ('La somme est:',s)
print ('Le produit est:',p)

La somme est: 43
Le produit est: 420

In [68]:
def operation2(a,b):
    somme=a+b
    produit=a*b
    return [somme,produit]

In [69]:
List2Result=operation2(15,28)
print(List2Result)

[43, 420]

In [70]:
_,p= operation(15,28)
print ('Le produit est:',p)

Le produit est: 420

In [71]:
compteur=0
def incrementer():
   global compteur
   compteur+=1
   print(f"Valeur du compteur à l'interieur: {compteur}")
def affichage():
   print(f"Valeur du compteur à l'exterieur: {compteur}")

In [72]:
incrementer()
affichage()

Valeur du compteur à l'interieur: 1
Valeur du compteur à l'exterieur: 1

In [73]:
# fonction récursive
def factorielle_recur(n):
    if n==0:
        return 1
    else:
        return n*factorielle_recur(n-1)

In [74]:
print(factorielle_recur(5))

120

In [75]:
print(factorielle_recur(8))

40320