<center> <h1 style='color:fuchsia'>Séries et DataFrme </h1></center>

pip install pandas

# 1. Les Séries

In [1]:
#creer une serie a partir d'une liste
import pandas as pd

data=[-1,8,7,0,3]
serie1=pd.Series(data)
print(serie1)

0   -1
1    8
2    7
3    0
4    3
dtype: int64

In [3]:
#creer une serie a partir d'un tableau
import pandas as pd
import numpy as np 
data=[21,25,30,42]
tab =np.array(data)
nomLigne=['jan','mars','sep','nov']
serie2=pd.Series(data,index=nomLigne)
print(serie2)

jan     21
mars    25
sep     30
nov     42
dtype: int64

In [ ]:
#Accés aux données d'une serie
print(serie2['mars'])
print(serie2.values)
print(serie2.index)
print(serie2.describe())
print(f'La moyenne est : {serie2.mean()}')
print(serie2.sep)
print(serie2[serie2>20])

25
[21 25 30 42]
Index(['jan', 'mars', 'sep', 'nov'], dtype='object')
count     4.000000
mean     29.500000
std       9.110434
min      21.000000
25%      24.000000
50%      27.500000
75%      33.000000
max      42.000000
dtype: float64
La moyenne est : 29.5
30
jan     21
mars    25
sep     30
nov     42
dtype: int64

In [7]:
serie3=pd.Series([10,20,30,40],index=['A','B','C','D'])
print(serie3)

A    10
B    20
C    30
D    40
dtype: int64

In [8]:
serie31=serie3+5
print(serie31)

A    15
B    25
C    35
D    45
dtype: int64

In [10]:
#appliquer une fonction a une serie
serie32=serie3.apply(lambda x: x**2)
print(serie32)

A     100
B     400
C     900
D    1600
dtype: int64

In [11]:
serie321=serie32[serie32>500]
print(serie321)

C     900
D    1600
dtype: int64

In [14]:
serie4=pd.Series([-10,10,20,-30,40],index=['A','B','C','D','E'])
print(serie4.sum())
print(serie4.mean())
print(serie4.median())

30
6.0
10.0

In [15]:
#creer une serie avec des valeurs manquantes
serie5=pd.Series([-10,np.nan,20,None,40],index=['A','B','C','D','E'])
print(serie5)

A   -10.0
B     NaN
C    20.0
D     NaN
E    40.0
dtype: float64

In [ ]:
#remplacer les valeurs manquantes par 0
serie52=serie5.fillna(0)
print(serie52)

A   -10.0
B     0.0
C    20.0
D     0.0
E    40.0
dtype: float64

In [ ]:
#remplacer les valeurs manquantes par la mediane
serie53=serie5.fillna(serie5.median())
print(serie53)

A   -10.0
B    20.0
C    20.0
D    20.0
E    40.0
dtype: float64

In [ ]:
#remplacer les valeurs manquantes par l'ecart type
serie54=serie5.fillna(serie5.std())
print(serie54)

A   -10.000000
B    25.166115
C    20.000000
D    25.166115
E    40.000000
dtype: float64

In [21]:
#supprimer les valeurs manquantes
serie55=serie5.dropna()
print(serie55)

A   -10.0
C    20.0
E    40.0
dtype: float64

In [24]:
#remplacer les valeurs spécifiques
serie6=pd.Series([1,2,3,4],index=['A','B','C','D'])
print(serie6)
print('---apres remplacement---')
#remplacer 1 par 'Un', 2 par 'Deux', 3 par 'Trois', 4 par 'Quatre'
mapping={1:'Un',2:'Deux',3:'Trois',4:'Quatre'}
serie61=serie6.map(mapping)
print(serie61)

A    1
B    2
C    3
D    4
dtype: int64
---apres remplacement---
A        Un
B      Deux
C     Trois
D    Quatre
dtype: object

# 2.DataFrame

In [29]:
import pandas as pd
import numpy as np

list1 = [75, 80, 90]
list2 = [15, 21, 12]
list3 = [100, 98, 100]

# Combiner les listes dans une liste de listes
tab = [list1, list2, list3]
# Définir les noms des colonnes et des lignes
col = ['IA1', 'IA2', 'POC']
ligne = ['Mounia', 'Junior', 'Soumia']
# Créer le DataFrame
df = pd.DataFrame(tab, index=ligne, columns=col)
# Afficher le DataFrame
print(f'dataframe:\n----------------\n{df}')

dataframe:
----------------
        IA1  IA2  POC
Mounia   75   80   90
Junior   15   21   12
Soumia  100   98  100

In [30]:
#acceder a une colonne
print(df['IA1'])

Mounia     75
Junior     15
Soumia    100
Name: IA1, dtype: int64

In [ ]:
#acceder a une ligne par son index numérique
print(df.iloc[1])

IA1    15
IA2    21
POC    12
Name: Junior, dtype: int64

In [ ]:
##acceder a une ligne par son index
print(df.loc['Junior'])

IA1    15
IA2    21
POC    12
Name: Junior, dtype: int64

In [37]:
#filtrer les lignes 
print(df['IA1']>=60)

Mounia     True
Junior    False
Soumia     True
Name: IA1, dtype: bool

In [38]:
#filtrer les lignes 
print(df[df['IA1']>=60])

        IA1  IA2  POC
Mounia   75   80   90
Soumia  100   98  100

In [39]:
#ajouter une colonne
df['Logique']=[100,30,100]
print(df)

        IA1  IA2  POC  Logique
Mounia   75   80   90      100
Junior   15   21   12       30
Soumia  100   98  100      100

*la variance= 1/moy(la somme des (valeures-moy)**2) -->var
*l'ecart type= racine carré de la variance -->std
*etendu= difference entre le max et le min
*correlation: peremt d'etudier la forme et la relation entre 2 variables numeriques elle 
est entre [-1.0.1]: 0 correlationneutre et 1 et -1 correlaton tres elevée
si x et y diminue et augmente dans la meme direction coorelation 1 
si dans des direction differentes -1